@import "bars/workspaces/eww.css";
@import "bars/center/eww.css";

* {
  all: unset;
}

.bar {
  background-color: rgba(30, 30, 46, 0.8);
}

.resize {
  background-color: rgba(90, 30, 46, 0.8);
}

.volume {
  padding: 20px
}
