.border {
  border: solid rgba(0, 0, 0, 0);
  border-width: 10px 10px 50px 10px;
}

.shadow {
  border-radius: 8px;
  box-shadow:
    0px 0px 0px 60px rgba(30, 30, 46, 0.7),
    /* <--- Border Color */ 1px 1px 5px 5px rgba(0, 0, 0, 0.3);
}
